<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestoranUygulaması.Properties.Settings.RestaurantOtomasyonuConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RestaurantOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RestoranUygulaması.Properties.Settings.RestoranConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Restoran;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>